﻿@model Sinergija.Model.Transaction

@{
    ViewBag.Title = "Prebaci pare na drugi (off sore račun)";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationMessage("CustomErr")

    <text>
        @Html.Partial("CreateOrEditPartial")
        @Html.HiddenFor(p => p.ID)
    </text>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
