﻿@model Sinergija.Model.Transaction

@{
    ViewBag.Title = "Detalji transakcije";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromAccount.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromAccount.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToAccount.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToAccount.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
