﻿@model Sinergija.Model.BankAccount

@{
    ViewBag.Title = "Uredi bankovnii račun";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{

    <text>
        @Html.Partial("CreateOrEditPartial")
        @Html.HiddenFor(p => p.ID)
    </text>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
