﻿@model IEnumerable<Sinergija.Model.BankAccount>

@{
    ViewBag.Title = "Bankovni računi";
}

<h2>Index</h2>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Mannager"))
    {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountType)
        </th>
        <th>
            Owner
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)  @Html.DisplayFor(modelItem => item.User.LastName) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) 
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Mannager"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 

                    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                }
            }
           
        </td>
    </tr>
}

</table>
